* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container .row, #row-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    line-height: 50px;
}

[class*="col-"] {
    flex: 0 0 auto;
    background: #016CFA;
    border: 1px solid white;
    color: white;
    min-height: 50px;
    width: 100%;
}


/* primo blocco */
.container #row-2 {
    margin-bottom: 20px;
}

#row-2 .col-xs-6  {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid white;
    height: 90px;
    padding: 15px 15px;
}

#row-2 .col-xs-6 > .col-xs-2, #row-2 .col-xs-6 > .col-xs-8 {
    background: #00E165;
    border: 1px solid #016CFA;
    height: 50px;
}

/* #row-2 .col-xs-6:nth-child(2) > .col-xs-6 {
    background: #00E165;
    border: 1px solid #016CFA;
} */


/* secondo blocco */
.row:nth-child(14) {
    margin-bottom: 20px;
}


/* terzo blocco */
.row:nth-child(26) {
    margin-bottom: 10px;
}