* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container .row {
    display: flex;
}

.row .col-1 {
    /* debug */
    background: lime;
    border: 1px solid darkgreen;
    padding: 15px 43px;
}